{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
	<h4>About PriceReminder</h4>
    <h5>Our Goal</h5>
    <p style="text-align: justify; font-size:14px;">
    Saving the time that you spend on browsing websites to check the price of your demanding products, PriceReminder
    will do the work for you. The only thing you need to register your demanding products with your email, you will 
    be informed when the price falls into your specified interval.
    </p>
</div>
{% endblock %}
