{% extends "layout.html" %}
{% block content %}
<style>
th {
	text-align: center;
}
td {
	padding: 5px;
}
table, th, td {
	border: 1px solid black;
}
img {
	max-width:100%;
	max-height:100%
}
</style>
<div class= "profile">
  <h4>Welcome to your favorites, {{ name }}!</h4>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
  
  	<div class="prod_list">
  		<table style="width:100%">
  		<tr>
    		<th>Title</th>
    		<th>Image</th>
    		<th>Price</th>
    		<th>Status</th>
    		<th>Edit</th>
  		</tr>
  		{% for item in results %}
  		<tr>
    		<td height="150" width="30%"><a href="{{ item[0]['url'] }}">{{ item[0]['title'] }}</a></td>
    		<td width="30%"><img src= "{{ item[0]['image'] }}" /></td>
    		<td style= "color:red;">{{ item[0]['price'] }}</td>
    		<td  style="text-align:center;"><textarea rows="10" cols="25" style="border:none;">
    					{% set stores= webhallen_status(item[0]['status']) %}
						{% for item in stores %}
						{{ item }}
						{% endfor %}
						</textarea>
			</td>
			<td>
        		<div class="pull-right action-buttons">
        			<a name="{{ name }}" prod_url= "{{ item[0]['url'] }}" onclick="Edit(this)"  style="cursor:pointer;"><span class="glyphicon glyphicon-pencil"></span></a>
            		<a name="{{ name }}" prod_url="{{ item[0]['url'] }}" onclick="ConfirmDelete(this)" style="cursor:pointer;"><span class="glyphicon glyphicon-trash"></span></a>
        		</div>
			</td>
  		</tr>
  		{% endfor %}
  		</table>
  	</div>
</div>
 
  
{% endblock %}