{% extends "layout.html" %}
{% block content %}
<div class="jumbotron" style="padding-top:20px;">
	<h4>Reset your password!</h4>
        <form class = "form-signin" action="{{ url_for('reset_password') }}" method="POST">
        <label for="inputPassword" class="sr-only">New Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="New password" required autofocus>  
        <div class="smallspace"><input type="submit" value='Reset' class="btn btn-sm btn-primary btn-block"></div>
      </form>
      
      </div>


{% endblock %}